@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}